body{
    margin: 0;
    width: 100%;
}

#burgMenu{
    display: none;
}

nav > a {
    flex-basis: 300px;
    transition: 300ms;
}

nav > a:hover, nav div.page ul li:hover{
    transform: scale(1.05);
    opacity: 1;
}

nav > a img{
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

div.page ul li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: 200ms;
    opacity: 0.7;
}

div.page ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

div.page{
    flex-grow: 1;
    flex-shrink: 1;
}

ul li > a {
    text-decoration: dashed;
    font-size: 20px;
}

h1{
    font-size: 100px;
}

main{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a{
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
}

label{
    width: 3%;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}

button{
    position: relative;
    height: 16px;
    left: 5%;
    bottom: 38%;
    width: 33%;
    background-color: white;
    border-radius: 10px;
    transition: 300ms;
}

@media screen and (max-width: 1000px) {
    header nav {
        display: none;
    }
    header{
        display: flex;
        justify-content: flex-start;
    }
    #burgMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #burgMenu a {
        width: 120px;
    }

    #burgMenu a img {
        width: 120px;
    }

    #burgMenu ul{
        box-sizing: border-box;
        margin: 0;
        list-style-type: none ;
        display: flex;
        flex-direction: column;
    }
    #burgMenu label{
        width: 30%;
    }
}
