body {
    font-family: sans-serif;
}

main {
    background-image: url("../img/fond-hardis.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 65px;
    margin: 0;
}

main .div1 {
    display: flex;
    align-items: center;
    padding-top: 50px;

}

main>div>div>img {
    padding-right: 50px;
    width: 250px;
    height: auto;
}

aside>p,
.div2>p,
.div3>p {
    border-radius: 10px;
    padding: 30px;
    font-size: 16px;
    padding-left: 10px;
    background-color: white;
}

hr {
    width: 85%;
}

main div {
    width: 80%;
}


@media screen and (max-width: 1000px) {
    main .div1 {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 60px;
    }
}