main {
    background-image: url("../img/fond-hardis.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 80em;
}

main>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 50px;
    transition: 400ms;
}

main>div:hover {
    transform: scale(1.01);
    box-shadow: 4px 5px 1px black;
}

main>div>img {
    width: 500px;
    height: auto;
}

main>div>article {
    width: 80%;
    height: auto;
    padding: 0px 20px 5px 20px;
    background-color: white;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 65px;
}

@media screen and (max-width: 1000px) {
    main div {
        flex-wrap: wrap;
        align-items: center;
    }

    main>.Div2 {
        flex-direction: column-reverse;
    }

    main>div>img {
        width: 80%;
        height: auto;
    }

    main {
        height: auto;
        padding-bottom: 100px;
    }

    h1 {
        font-size: 60px;
    }

}