main {
    background-image: url(../img/Stage/fond-hardis.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: flex-start;
    height: 100em;
}

h1 {
    margin: 0;
    font-size: 65px;
}

.graphe article img{
    width: 100%;
}

.graphe article{
    display: flex;
    flex-basis: 400px;
}



/*Modif*/
.texteimage{
    width: 85%;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
}

.texteimage p,img{
    justify-content: center;
}
.texteimage img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height:auto;
    width:auto;
}

.texteimage p{
    margin: 20px;
}
@media screen and (max-width: 1765px){
    .texteimage{
        flex-direction: column;
        padding-bottom: 30px ;
    }
    .texteimage img{
        border-bottom-left-radius: 20px;
        border-top-left-radius:  20px;
    }
}
@media screen and (max-width: 1110px){
 /*beosin de modif sur la taille de limage */
}

/*Fin Modif*/

