:root {
    --transition-time: 300ms;
}

main {
    background-image: url("../img/fond-hardis.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: flex-start;
}

h1 {
    margin: 0;
    font-size: 65px;
}

.graphe {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.graphe .article:hover {
    transform: scale(1.02);
}

h1,
p {
    font-family: Verdana, Tahoma, sans-serif;
}

.graphe .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transition: var(--transition-time);
}

.graphe .article ul,
.graphe .article p {
    width: 410px;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.graphe img {
    width: 450px;
    height: 21em;
    border-radius: 5px;
}



.texteimage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    transition: var(--transition-time);
}

.texteimage:hover {
    transform: scale(1.01);
}

.texteimage p {
    width: 50%;
}

.texteimage img {
    width: 40%;

}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
    .graphe {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h1 {
        font-size: 60px;
    }

    .graphe .article {
        width: 50%;
    }

    .graphe img {
        width: 100%;
        height: 500px;
        border-radius: 5px;
    }

    .graphe .article ul,
    .graphe .article p {
        width: 90%;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .graphe {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h1 {
        font-size: 60px;
    }

}

@media screen and (max-width: 500px) {

    .texteimage,
    .article {
        width: 80%;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .graphe .article ul,
    .graphe .article p {
        width: 250px;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
    .texteimage img,
    .article img
    {
        width: 80%;
    }

    .texteimage p{
        width: 250px;
    }

}
